{% extends "base.html" %}
{% block main %}  
<body>
    <p>{{botInformation}}</p>

    <form method="post">

        <p>Whats your current location?</p>

        <div class="form-check">
            {% for waypoint in waypoints %}
                <input class="form-check-input" type="radio" name="ClientLocationRadio" id="radio__{{waypoint.name}}" value="{{waypoint.name}}">
                <label class="form-check-label" for="radio__{{waypoint.name}}">
                    {{waypoint.name}}
                </label>
                <br>
            {% endfor %}
        </div>

        <br><br>

        <p>What waypoint(s) would you like to travel to?</p>

        <div class="form-check">
            {% for waypoint in waypoints %}
                <input class="form-check-input" type="checkbox" name="ClientRequestCheck" id="{{waypoint.name}}" value="{{waypoint.name}}">
                <label class="form-check-label" for="{{waypoint.name}}">
                    {{waypoint.name}}
                </label>
                <br>
            {% endfor %}
        </div>

        <br><br>

        <input name="clientName">

        <br>

        <input type="submit" value="submit", method="POST">
    </form>
</body>
{% endblock %}