<div id="load" class="load">
    <table class="table">

        <tr>
            <th>Bot ID</th>
            <th>name</th>
            <th>xCoord</th>
            <th>yCoord</th>
            <th>last ping</th>
            <th>stale count</th>
            <th>state</th>
            <th>waypoint name</th>
            <th>target waypoint name</th>
            <th>timeout</th>
        </tr>

        {% for robot in BotData %}
            {% if robot.state != "lost" %}
                <tr class="table-success">
                    <td class="table-success">{{ robot.robotID }}</td>
                    <td class="table-success">{{ robot.name }}</td>
                    <td class="table-success">{{ robot.xCoordinate }}</td>
                    <td class="table-success">{{ robot.yCoordinate }}</td>
                    <td class="table-success">{{ robot.lastPing }}</td>
                    <td class="table-success">{{ robot.staleCount }}</td>
                    <td class="table-success">{{ robot.state }}</td>
                    <td class="table-success">{{ robot.waypointName }}</td>
                    <td class="table-success">{{ robot.targetWaypointName }}</td>
                    <td class="table-success">{{ robot.timeout }}</td>
                </tr>
            {% else %}
                <tr class="table-danger">
                    <td class="table-danger">{{ robot.robotID }}</td>
                    <td class="table-danger">{{ robot.name }}</td>
                    <td class="table-danger">{{ robot.xCoordinate }}</td>
                    <td class="table-danger">{{ robot.yCoordinate }}</td>
                    <td class="table-danger">{{ robot.lastPing }}</td>
                    <td class="table-danger">{{ robot.staleCount }}</td>
                    <td class="table-danger">{{ robot.state }}</td>
                    <td class="table-danger">{{ robot.waypointName }}</td>
                    <td class="table-danger">{{ robot.targetWaypointName }}</td>
                    <td class="table-danger">{{ robot.timeout }}</td>
                </tr>
            {% endif %}
        {% endfor %}

    </table>

    <br><br><br><br>

    <table class="table">

        <tr>
            <th>WaypointID</th>
            <th>Name</th>
            <th>Y-Coordinate</th>
            <th>Y-Coordinate</th>
            <th>Waiting Zone</th>
        </tr>

        {% for waypoint in WaypointData %}
            <tr>
                <td>{{ waypoint.waypointID }}</td>
                <td>{{ waypoint.name }}</td>
                <td>{{ waypoint.xCoordinate }}</td>
                <td>{{ waypoint.yCoordinate }}</td>
                <td>{{ waypoint.waiting }}</td>
            </tr>
        {% endfor %}

    </table>

</div>