{% extends "base.html" %}

{% include "LoadData.html" %}

{% block main %}  

{{ turbo() }}

<!-- <body onload="init()"> 

    <br><br><br><br> -->

    <!-- Poentially consider this package to show the bots on the map -->
    <!-- http://ros.fei.edu.br/roswiki/attachments/webmap/webmap.pdf -->


    <!-- Currently using this to display the map -->
    <!-- http://wiki.ros.org/ros2djs/Tutorials/VisualizingAMap -->

    <!-- roscore -->
    <!-- rosrun map_server map_server /home/dan/ros_maps/RoboticsLab.pgm 0.05 -->
    <!-- roslaunch rosbridge_server rosbridge_websocket.launch -->

    <!-- <script type="text/javascript" src="http://static.robotwebtools.org/EaselJS/current/easeljs.min.js"></script>
    <script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    <script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
    <script type="text/javascript" src="http://static.robotwebtools.org/ros2djs/current/ros2d.min.js"></script>

    <script type="text/javascript" type="text/javascript">
        /**
        * Setup all visualization elements when the page is loaded.
        */

        function init() {
            // Connect to ROS.
            var ros = new ROSLIB.Ros({
                url : 'ws://localhost:9090'
            });

            // Create the main viewer.
            var viewer = new ROS2D.Viewer({
                divID : 'map',
                width : 1000,
                height : 1000
            });
    
            // Setup the map client.
            var gridClient = new ROS2D.OccupancyGridClient({
                ros : ros,
                rootObject : viewer.scene
            });
        
        // Scale the canvas to fit to the map
            gridClient.on('change', function(){
                viewer.scaleToDimensions(gridClient.currentGrid.width, gridClient.currentGrid.height);
            });
        }
    </script>

    <div id="map"></div>

</body> -->

{% endblock %}